table{
    margin-left: auto;
    margin-right: auto;
}

table img{
    width: 40%;
}

table h4{
    font-size: 84%;
}

table h5{
    margin-top: -8%;
    font-size: 62%;
}
table h6{
    margin-top: -100%;
    margin-left: 356%;
}

#checkingOutPart{
    font-size: 130%;
    margin-left: 61.5%;
}

#checkingOutPart p{
    margin-left: -3%;
}

#footer{
    margin-top: 30%;
}