body{
    font-family: 'Heebo', sans-serif;
}
.topNav{
    background-color: #42ab9e;
    overflow: hidden;
}

.topNav a{
    float: left;
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 17px;
    padding: 15px 17px;
    color: white;
}

.topNav a.active{

}

#theShoppingCart{
    float: right;
}


#footer{
    text-align: center;
}